* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font family and size for the entire page */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 32px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

/* Style the main section */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

main h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/*add full-width input fields*/
	input[type=text],
	input[type=password] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 2px solid #ccc;
		box-sizing: border-box;
	}
	/* set a style for all buttons*/
	button {
		background-color: green;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		cursor: pointer;
		width: 10%;
	}
	button a{
		font-size: large;
		font-style: italic;
		color: #ccc;
	}

	/*set styles for the cancel button*/
	.cancelbtn {
		padding: 14px 20px;
		background-color: #FF2E00;
	}
	/*float cancel and signup buttons and add an equal width*/
	.cancelbtn,
	.signupbtn {
		float: left;
		width: 20%
	}
	/*add padding to container elements*/
	.container {
		padding: 16px;
	}
	/*define the modal’s background*/
	
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.4);
		padding-top: 60px;
	}
	/*define the modal-content background*/
	
	.modal-content {
		background-color: #fefefe;
		margin: 5% auto 15% auto;
		border: 1px solid #888;
		width: 80%;
	}
	/*define the close button*/
	
	.close {
		position: absolute;
		right: 35px;
		top: 15px;
		color: #000;
		font-size: 40px;
		font-weight: bold;
	}
	/*define the close hover and focus effects*/
	
	.close:hover,
	.close:focus {
		color: red;
		cursor: pointer;
	}
	
	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}
	
	thead {
		background-color: #333;
		color: #FFF;
	}
	
	th, td {
		border: 1px solid #DDD;
		padding: 0.5em;
		text-align: left;
	}
	
	
	
/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50%;
}
  
  /* Responsive layout for small screens */
  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    .cancelbtn,
		.signupbtn {
			width: 100%;
		}

		@media screen and (max-width: 768px) {
			table {
				font-size: 0.8em;
			}
		
			th, td {
				padding: 0.3em;
			}
		}
  }
 